@XmlType(name="{{enumName name}}")
@XmlEnum({{enumValueNativeType}}.class)
public enum {{enumName name}} {

    {{#enumValues}}
    @XmlEnumValue({{literal .}}) {{identifier .}}({{../enumValueNativeType}}.valueOf({{literal .}})){{#unless @last}}, {{else}};{{/unless}}
    {{/enumValues}}


    private {{enumValueNativeType}} value;

    {{enumName name}}({{enumValueNativeType}} v) {
        value = v;
    }

    @com.fasterxml.jackson.annotation.JsonValue public String value() {
        return value;
    }

    @Override
    public String toString() {
        return String.valueOf(value);
    }

    public static {{enumName name}} fromValue(String v) {
        for ({{enumName name}} b : {{enumName name}}.values()) {
            if (String.valueOf(b.value).equals(v)) {
                return b;
            }
        }
        return null;
    }
}
