@javax.xml.bind.annotation.XmlType(name="{{enumName name}}")
@javax.xml.bind.annotation.XmlEnum({{enumValueNativeType}}.class)
public enum {{enumName name}} {

    {{#enumValues}}
    @javax.xml.bind.annotation.XmlEnumValue({{{.}}}) {{constantName .}}({{../enumValueNativeType}}.valueOf({{{.}}})){{#unless @last}}, {{else}};{{/unless}}
    {{/enumValues}}


    private {{enumValueNativeType}} value;

    {{enumName name}}({{enumValueNativeType}} v) {
        value = v;
    }

    @com.fasterxml.jackson.annotation.JsonValue public String value() {
        return value;
    }

    @Override
    public String toString() {
        return String.valueOf(value);
    }

    public static {{enumName name}} fromValue(String v) {
        for ({{enumName name}} b : {{enumName name}}.values()) {
            if (String.valueOf(b.value).equals(v)) {
                return b;
            }
        }
        return null;
    }
}
